[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "==6.6.0"
packaging = "==23.1"
pipgrip = "==0.10.4"
requests = "==2.30.0"
requirements-parser = "==0.5.0"
"ruamel.yaml" = "0.17.24"
tomli = "2.0.1"
typing-extensions = "==4.5.0"


[dev-packages]

[requires]
python_version = "3.10"
