[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "==7.1.0"
packaging = "==24.0"
pipgrip = "==0.10.13"
requests = "==2.31.0"
requirements-parser = "==0.7.0"
"ruamel.yaml" = "0.17.24"
tomli = "2.0.1"
typing-extensions = "==4.10.0"


[dev-packages]

[requires]
python_version = "3.10"
