anytree==2.8.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
idna==3.2
importlib-metadata==4.8.1
packaging==21.0
pip==21.2.4
pipgrip==0.6.10
pkginfo==1.7.1
pyparsing==2.4.7
requests==2.26.0
requirements-parser==0.2.0
six==1.16.0
setuptools==58.1
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wheel==0.37.0
zipp==3.5.1